                                              {{!-- ################################
                                              201704041333L   EL MARTES   JAY @ GA --}}
{{!--yield--}}

<li>

  <strong>{{stallion.name}}</strong><br><br>
  <img class='imgUrl' src={{stallion.imgUrl}}>
</li>
