                                          {{!-- ################################
                                          201704041333L   EL MARTES   JAY @ GA --}}

<h2 id="title">
                                          {{!--link-to "Our Awesome Bookstore" 'books'--}}
  link-to "Our Awesome STALLIONs" 
</h2>

{{outlet}}
                                          {{!-- The following component displays Ember's default welcome message. --}}
                                          {{!--welcome-page--}}
                                          {{!-- Feel free to remove this! --}}
                                          {{!-- app/templates/application.hbs --}}
