                                          {{!-- ################################
                                          201704041333L   EL MARTES   JAY @ GA --}}
{{outlet}}

<h2 id="title">
  THIS SHOWS THAT WE ARE GETTING INTO THE

  app/templates/application.hbs

                                          {{!--link-to "Our Awesome Bookstore" 'books'--}}
  link-to "Our Awesome STALLION" 'stallions'
</h2>
                                          {{!-- The following component displays Ember's default welcome message. --}}
                                          {{!--welcome-page--}}
                                          {{!-- Feel free to remove this! --}}
                                          {{!-- app/templates/application.hbs --}}
