                        {{!-- ################################ --}}
                        {{!--201704051314L   EL MIERCOLES   JAY @ GA --}}
                        {{!-- THIS WAS HERE BY DEFAULT --}}
                        {{!--outlet--}}
<h3>stallions Index</h3>
{{#link-to 'stallion.new'}}New stallion{{/link-to}}
<br/>
<br/>
<br/>
<ul>
  {{#each model as |stallion|}}
  {{stallion-cover stallion=stallion}}
    <li>
      <button {{action 'delete' stallion}}>Delete</button>
    </li>
  {{/each}}
</ul>


{{#link-to 'stallion' stallion}}                 {{!--THIS link-to
                                'stallion'        POINTS BAK TO FILE
                                 stallion.hbs' --}}
  {{stallion.name}}
{{/link-to}}
