                        {{!-- ################################ --}}
                        {{!--201704051314L   EL MIERCOLES   JAY @ GA --}}
                        {{!-- THIS WAS HERE BY DEFAULT --}}
                        {{!--outlet--}}
<h3>stallions Index</h3>
<ul>
  {{#each model as |stallion|}}
    <li>
      {{#link-to 'stallion' stallion}}                 {{!--THIS link-to 
                                      'stallion'        POINTS BAK TO FILE
                                       stallion.hbs' --}}
        {{stallion.name}}
      {{/link-to}}
      <button {{action 'delete' stallion}}>Delete</button>
    </li>
  {{/each}}
</ul>
{{#link-to 'stallion.new'}}New stallion{{/link-to}}
